<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mystyle.css">
</head>

<body>



<div class="container">
{{ content }}
</div>



<footer>
	<ul class="list-unstyled">
	{% for member in site.data.members.members%}
	<li>
	<a href="https://github.com/{{ member.github }}">
	{{ member.name}}
	</a>
	</li>
	{% endfor%}
	</ul>
</footer>

</body>
</html>
