<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/page.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/article">Home</a></li>
				<li><a href="https://qijiexue.herokuapp.com">CV</a></li>
				<li><a href="/article/category">Categories</a></li>
			</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:qijiexue@outlook.com">Email</a></li>
				<li><a href="https://github.com/7788wangzi">github.com/7788wangzi</a></li>
			</ul>
		</footer>
	</body>
</html>