<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta property="title" content="{{ page.title }}" />
		<meta property="description" content="{{ page.description }}" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">		
		<link href="{{ site.baseurl }}/assets/css/navbar.css" rel="stylesheet" type="text/css">
		<link href="{{ site.baseurl }}/assets/css/postlist.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav>
			<div class="container">
			<div class="logo">Qijie blog</div>
			<ul class="nav-links">
				<li><a href="/article">Home</a></li>				
				<li><a href="/article/category">Categories</a></li>
				<li><a href="https://qijiexue.herokuapp.com">CV</a></li>
			</ul>
			</div>
		</nav>
		
		
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<div class="container">
			<ul>
				<li><a href="mailto:qijiexue@outlook.com">Email</a></li>
				<li><a href="https://github.com/7788wangzi">github.com/7788wangzi</a></li>
			</ul>
			</div>
		</footer>
	</body>
</html>